body {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.container {
    border: 10px solid black;
    border-radius: 10px;
    background-color: black;
    gap: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 40vh;
    min-height: 300px;
}

.display {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    display: flex;
    flex: 1;
    background-color: lightgray;
    font-size: 5.5em;
    justify-content: flex-end;
}

.inputArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 4;
}

.inputRow {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex: 1;
}

button {
    flex: 1;
    font-size: large;
    border-radius: 10px;
}

.operator {
    background-color: #FF8F1F;    
}

.operator:focus {
    background-color: #ffc183;
}

.equals {
    background-color: #FF8F1F;
}

.equals:active {
    background-color: #ffc183;
}

.operand {
    background-color: #217C7E;
}

.operand:active {
    background-color: #33b9bb;
}

.decimal {
    background-color: #217C7E;
}

.decimal:active {
    background-color: #33b9bb;
}

.clear, .backspace {
    background-color: dodgerblue;
}

.clear:active {
    background-color: rgb(123, 189, 255);
}